/*.center-container {
	text-align: center;
	margin: 250px auto;
	width: 300px;
	background-color: black;
	padding: 50px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
	overflow: auto;
}*/

/*One way to fix div in the center of window*/
/*.window-center-1 {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 10em;
	width: 30em;
	margin-top: -5em;
	margin-left: -15em;
	border: 5px solid blue;
	border-radius: 100px;
	background: cyan;
}*/


.window-center-2 {
	position: absolute;  /* Fix the div in the center of window START */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;   /* Fix the div in the center of window END  */
	width: 300px;
	height: 100px;
	/*background-color: mediumaquamarine;*/
	/*border-style: groove;*/
	/* Following three lines: Vertically center contents within div using flex box*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;  /*Horizontally center contents within div*/
	border-radius: 45px;
}

#random-article {
	font: 1.3em helvetica;
	color: red;
}

#text-input {
	border-radius: 5px;
	border: 1.3px solid red;
}

#text-input:focus {
	border-radius: 5px;
	box-shadow: inset 0 0 10px red;
	border: 1.3px solid red;
	outline: none; /* gets rid of the ugly blue outline when onfocus */
}

.fabutton {
	background: none;
	padding: 0;
	border: none;
	outline: none;
}
.a-links {
	display: block;
	max-width: 800px;
	margin: 0 auto;
	background: white;
	padding: 15px;
	border: 1px solid blue;
	border-radius: 10px;
	color: black;
}

.a-links:hover {
	text-decoration: none;
	color: black;
	border-left: 3px solid red;
}

/* Legacy: when <div> was wrapped inside <a>. <div> no longer needed since <a>'s display: block. */
/*.page-links {
	max-width: 800px;
	margin: 0 auto;
	background: white;
	border: 1px solid red;
	padding: 10px;
}*/

#json-checker {
	margin: 50px auto;
}