/*.center-container {
	text-align: center;
	margin: 250px auto;
	width: 300px;
	background-color: black;
	padding: 50px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	resize: vertical;
	overflow: auto;
}*/

/*One way to fix div in the center of window*/
/*.window-center-1 {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 10em;
	width: 30em;
	margin-top: -5em;
	margin-left: -15em;
	border: 5px solid blue;
	border-radius: 100px;
	background: cyan;
}*/


.window-center-2 {
	position: fixed;  /* Fix the div in the center of window START */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;  /* Fix the div in the center of window END */
	width: 300px;
	height: 100px;
	background-color: cyan;
	/* Following three lines: Vertically center contents within div using flex box*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;  /*Horizontally center contents within div*/
	border-radius: 45px;
}

.fabutton {
	background: none;
	padding: 0;
	border: none;
	outline: none;
}